<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwxI8H2G-KDfh1iSXUpQ-kvZ4Njq5tLxk</string>
	<key>GCM_SENDER_ID</key>
	<string>762970879166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medimindApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medimind-2b1b0</string>
	<key>STORAGE_BUCKET</key>
	<string>medimind-2b1b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762970879166:ios:631d9f60eb06c323bf5aef</string>
</dict>
</plist>